<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="styles.css")
body
    header.site-header
        .site-header__logo
            img(src="./img/scrubs.png")
        .site-header__info
            p.site-header__name Верещагин Даниил Андреевич
            br
            p.site-header__mail vereshhagin98@mail.ru
        ul.site-header__social
           li.site-header__social--github: a(href="#")
                img(src="./img/git.svg" alt="github")
           li.site-header__social--sk: a(href="#")
                img(src="./img/sk.svg" alt="sk")
           li.site-header__social--vk: a(href="#")
                img(src="./img/vk.svg" alt="vk")
    section.about: .wrapper
        h1.about__title О будущем ученике
        h2.about__subtitle Ребятам из Lofschool будет полезно узнать немного обо мне
        .about__about-me
            img(src="./img/hello.svg")
            h3.about__title-info Немного обо мне 
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
        .about__about-me
            img(src="./img/experience.svg")
            h3.about__title-info Мой опыт в разработке
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
    section.course: .wrapper
        h1.course__title Курсы на loftblog
        h2.course__subtitle которые мне помогут в выполнении этого задания
        .course__gallery: .wrapper--flex
            article.course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title Основы JavaScript
                p.course__block-text Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                p.course__block-duration 24 урока(6 часов 46 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел
            article.course__gallery-block
                img(src="./img/jquery.png")
                h4.course__block-title Основы JQUERY
                p.course__block-text Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                p.course__block-duration 11 уроков (2 часа 6 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел

            article.course__gallery-block
                img(src="./img/base.png")
                h4.course__block-title Базовые элементы страницы
                p.course__block-text Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу,слайдер и т.д.
                p.course__block-duration 9 урока (2 часа 7 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел

            article.course__gallery-block
                img(src="./img/adaptive.png")
                h4.course__block-title Создание адаптивных сайтов
                p.course__block-text В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн. 
                p.course__block-duration 7 уроков (2 часа 11 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел

            article.course__gallery-block
                img(src="./img/button-generator.png")
                h4.course__block-title Верстка адаптивной CSS галереи
                p.course__block-text В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
                p.course__block-duration 6 уроков (1 час 9 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел

            article.course__gallery-block
                img(src="./img/css.png")
                h4.course__block-title Верстка адаптивной CSS галереи 
                p.course__block-text В этом курсе мы разберем как сверстать css галерею.Также познакомимся с Flexbox.
                p.course__block-duration 4 урока (50 минут)
                .course__form 
                    input(type="checkbox").course__input
                    p.course__status Посмотрел

    footer.site-footer: .wrapper
        p.site-footer__text А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.
script(src="https://code.jquery.com/jquery-3.2.1.js")
script(src="gallery-block.js")



        
        

        
        
            
                