<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="styles.css")
body
    header.site-header
        .site-header__logo
            img(src="./img/scrubs.png")
        .site-header__info
            p.site-header__name Верещагин Даниил Андреевич
            br
            p.site-header__mail vereshhagin98@mail.ru
        ul.site-header__social
           li.site-header__social--github: a(href="#")
                img(src="./img/git.svg" alt="github")
           li.site-header__social--sk: a(href="#")
                img(src="./img/sk.svg" alt="sk")
           li.site-header__social--vk: a(href="#")
                img(src="./img/vk.svg" alt="vk")
    section.about: .wrapper
        h1.about__title О будущем ученике
        h2.about__subtitle Ребятам из Lofschool будет полезно узнать немного обо мне
        .about__about-me
            img(src="./img/hello.svg")
            h3.about__title-info Немного обо мне 
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
        .about__about-me
            img(src="./img/experience.svg")
            h3.about__title-info Мой опыт в разработке
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
    section.course: .wrapper
        h1.course__title Курсы на loftblog
        h2.course__subtitle которые мне помогут в выполнении этого задания
        .course__gallery: .wrapper--flex
            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title Основы JavaScript
                p.course__block-text Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                p.course__block-duration 24 урока(6 часов 46 минут)
                .course__form
                    input(type="checkbox").course__input 
                    p.course__status Посмотрел
            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title Основы JQUERY
                p.course__block-text Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                p.course__block-duration dwdwqd
                input(type="checkbox").course__input 
                p.course__status Посмотрел

            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title Базовые элементы страницы
                p.course__block-text dwqdqwdwqdq
                p.course__block-duration dwdwqd
                input(type="checkbox").course__input 
                p.course__status Посмотрел
            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title dqwdwqdqwdq
                p.course__block-text dwqdqwdwqdq
                p.course__block-duration dwdwqd
                input(type="checkbox").course__input 
                p.course__status ПосмотрелLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a neque massa. Suspendisse potenti. Vivamus porta tortor ligula, eget euismod nibh ullamcorper sit amet. Nam tempus iaculis dolor, ultrices semper elit commodo id. Praesent iaculis blandit purus, vitae pulvinar elit ornare in. Morbi id arcu aliquam, ultrices purus ut, pretium ipsum. Proin volutpat molestie lorem, id porta ipsum semper nec. Cras tristique velit quam, vitae cursus lacus tristique pellentesque. Etiam vehicula orci mauris, sed vestibulum metus efficitur a.Proin nec nunc justo. Fusce accumsan purus ipsum, nec ultricies nulla feugiat feugiat. Sed rutrum lacinia lacus, venenatis fringilla quam ullamcorper et. Vestibulum non eros vitae leo euismod ullamcorper sit amet ac diam. Phasellus ut cursus lectus. Phasellus sed eleifend felis, eget iaculis ipsum. Nunc nec massa mattis, blandit nisi vitae, eleifend urna. In non ligula mattis, mollis elit a, condimentum ligula. Pellentesque gravida mauris diam. Vestibulum quis justo eu velit rhoncus tempor ac eget quam.Nulla ut hendrerit ex. Duis finibus tincidunt metus, facilisis convallis felis condimentum et. In ultrices dui quis maximus tincidunt. Phasellus sit amet volutpat nisi. Suspendisse potenti. Praesent in iaculis arcu. Morbi non facilisis purus. Nam ullamcorper mattis volutpat.Ut erat enim, consectetur non mauris id, vestibulum dapibus libero. Maecenas malesuada vestibulum ipsum, quis bibendum turpis facilisis ut. Etiam velit libero, viverra ac nibh eget, feugiat sagittis tellus. Proin feugiat volutpat pellentesque. Proin sagittis id ex non blandit. Phasellus metus risus, suscipit at aliquam nec, lobortis sit amet ligula. Duis bibendum magna sed mauris commodo, in fringilla justo laoreet. Etiam porta semper egestas. Etiam consequat lacus porttitor leo mollis, a scelerisque lorem egestas. Suspendisse faucibus mi eget ipsum aliquam, ut fermentum mi congue. Proin placerat eleifend mi, ut cursus ligula ultrices sit amet. Nulla fringilla eget ante a lobortis. Ut ut lectus non dolor convallis lobortis et rhoncus erat. Quisque enim risus, tempor ac purus non, euismod imperdiet augue. Ut vitae mi orci. Curabitur in elit nec arcu commodo efficitur.Integer dignissim, est in iaculis porta, urna mi efficitur velit, et mattis augue lacus ut magna. Curabitur nec massa neque. Quisque malesuada ullamcorper urna sit amet molestie. Integer rutrum euismod sem vel cursus. Praesent egestas nisl non condimentum tincidunt. Nunc sed orci eget odio iaculis sodales in et lorem. Curabitur mattis lorem sit amet dapibus ornare. Suspendisse sed enim neque. Ut ut faucibus justo, ac faucibus justo. Donec pharetra ullamcorper felis, ac commodo nisl venenatis eu. Morbi accumsan neque 
            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title dqwdwqdqwdq
                p.course__block-text dwqdqwdwqdq
                p.course__block-duration dwdwqd
                input(type="checkbox").course__input 
                p.course__status Посмотрел
            .course__gallery-block
                img(src="./img/js.png")
                h4.course__block-title dqwdwqdqwdq
                p.course__block-text dwqdqwdwqdq
                p.course__block-duration dwdwqd
                input(type="checkbox").course__input 
                p.course__status Посмотрел
            .course__complete
                img(src="./img/js.png")
                h1.course__complete-text Задание выполнено

    footer.site-footer: .wrapper
        p.site-footer__text А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.
script(src="https://code.jquery.com/jquery-3.2.1.js")
script(src="gallery-block.js")



        
        

        
        
            
                