<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="styles.css")
body
    header.site-header
        .site-header__logo
            img(src="./img/scrubs.png")
        .site-header__info
            p.site-header__name Верещагин Даниил Андреевич
            br
            p.site-header__mail vereshhagin98@mail.ru
        ul.site-header__social
           li.site-header__social--github: a(href="#")
                img(src="./img/git.svg" alt="github")
           li.site-header__social--sk: a(href="#")
                img(src="./img/sk.svg" alt="sk")
           li.site-header__social--vk: a(href="#")
                img(src="./img/vk.svg" alt="vk")
    section.about: .wrapper
        h1.about__title О будущем ученике
        h2.about__subtitle Ребятам из Lofschool будет полезно узнать немного обо мне
        .about__about-me
            img(src="./img/hello.svg")
            h3.about__title-info Немного обо мне 
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
        .about__about-me
            img(src="./img/experience.svg")
            h3.about__title-info Мой опыт в разработке
            p.about__text Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться: www.yandex.ru
    section.course: .wrapper
        h1.course__title Курсы 



        
        

        
        
            
                