.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
    padding-left:15px;
    padding-right:15px;

    &--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap:wrap; 
    //    align-self

    }
}